---
import Layout from "@layouts/PageLayout.astro";
import Sidebar from "@components/ui/Sidebar/Sidebar.astro";
import IDAHDocumentation from "@components/app/IDAHDocumentation.astro";
---

<Layout>
 <div class="flex min-h-screen">
    <Sidebar />

    <main class="flex-1 min-w-0">
      <slot>
        <IDAHDocumentation />
      </slot>
    </main>
  </div>
</Layout>
