---
import PageLayout from "@layouts/PageLayout.astro";
import IDAHDocumentation from "@components/app/IDAHDocumentation.astro";
import Sidebar from "$lib/app/sidebar/sidebar.svelte";
---

<PageLayout>
  <div class="mr-2 grid min-h-screen w-1/4 w-full grid-cols-4">
    <Sidebar /> 

    <div class="col-span-3">
      <IDAHDocumentation />
    </div>
  </div>
</PageLayout>
