---
import PageLayout from "@layouts/PageLayout.astro";
import IDAHDocumentation from "@components/app/IDAHDocumentation.astro";
---

<PageLayout>
    <main class="w-full">
      <slot>
        <IDAHDocumentation />
      </slot>
    </main>
</PageLayout>

