# Example environment variables for IDAH services
# This file serves as a template for setting up environment variables for IDAH services.
# You can copy this file to .env and modify the values as needed for your environment.

# Frontend build configuration
# This variable is used during the build process to configure the API host
# Examples:
#   - For local development: http://localhost:8080
#   - For production: https://idah.ingedata.ai
VITE_IDAH_HOST=http://localhost:8080

# Backend url configuration for backend services
# This variable is used by backend services to know the URL of the IDAH API
# Examples:
#   - For local development: http://localhost:8080
#   - For production: https://idah.ingedata.ai
IDAH_URL=http://localhost:8080
