---
import Table from "@components/ui/Table/Table.astro";
import TableBody from "@components/ui/Table/TableBody.astro";
import TableCell from "@components/ui/Table/TableCell.astro";
import TableRow from "@components/ui/Table/TableRow.astro";
import TableHeader from "@components/ui/Table/TableHeader.astro";

export const verseErrors = [
  {
    code: 400,
    title: "Verse::Error::BadRequest",
    meaning: "The request is malformed or invalid.",
  },
  {
    code: 401,
    title: "Verse::Error::Authorization",
    meaning: "The request requires authentication.",
  },
  {
    code: 403,
    title: "Verse::Error::Unauthorized",
    meaning: "The request is understood but not allowed.",
  },
  {
    code: 404,
    title: "Verse::Error::NotFound",
    meaning: "The requested resource or path does not exist.",
  },
  {
    code: 404,
    title: "Verse::Error::RecordNotFound",
    meaning: "The requested path exists, but the resource itself does not exist.",
  },
  {
    code: 422,
    title: "Verse::Error::ValidationFailed",
    meaning: "The request data failed validation.",
  },
  {
    code: 422,
    title: "Verse::Error::CannotCreateRecord",
    meaning: "The request data failed validation.",
  },
];
---

<div class="rounded-md border">
  <Table class="text-sm">
    <TableHeader class="border-b text-muted-foreground">
      <TableRow class="[&>td:last-child]:border-r-0 [&>td]:border-r">
        <TableCell>Code</TableCell>
        <TableCell>Title</TableCell>
        <TableCell>Meaning</TableCell>
      </TableRow>
    </TableHeader>

    <TableBody class="text-primary-foreground [&>tr:last-child]:border-b-0 [&>tr]:border-b">
      {
        verseErrors.map((error) => (
          <TableRow class="[&>td:last-child]:border-r-0 [&>td]:border-r">
            <TableCell>{error.code}</TableCell>
            <TableCell>{error.title}</TableCell>
            <TableCell>{error.meaning}</TableCell>
          </TableRow>
        ))
      }
    </TableBody>
  </Table>
</div>
