---
import Sidebar from "$lib/app/sidebar/sidebar.svelte";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";

const pathname = Astro.url.pathname;

---

<Layout>
  <slot name="header">
    <Header />
  </slot>

  <div class="flex flex-1 overflow-hidden">
    <slot name="sidebar">
      <Sidebar client:load {pathname} />
    </slot>

    <main class="flex-1 overflow-y-auto">
      <slot />

      <slot name="footer">
        <Footer />
      </slot>
    </main>
  </div>
</Layout>
