---
import Sidebar from "$lib/app/sidebar/sidebar.svelte";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";

const pathname = Astro.url.pathname;
---
<Layout>
  <slot name="header">
    <Header />
  </slot>

  <div class="flex flex-1 overflow-hidden">
    <slot name="sidebar">
      <Sidebar client:load {pathname} />
    </slot>

    <div class="flex flex-1 flex-col">
      <main class="flex-1 overflow-y-auto">
        <slot />
      </main>

      <slot name="footer">
        <Footer />
      </slot>
    </div>
  </div>
</Layout>
