---
import { SIDEBAR_WIDTH } from "$lib/components/ui/sidebar/constants";
---

<!-- calc with SIDEBAR_WIDTH -->
<!-- <div class="flex flex-1 flex-col w-[calc(100%-{SIDEBAR_WIDTH} -->
<div style={`--sidebar-width: ${SIDEBAR_WIDTH}`} class="flex flex-1 flex-col md:w-[calc(100%-var(--sidebar-width))] md:ml-[var(--sidebar-width)]">
  <slot />
</div>