<footer id="footer" class="bg-background mt-auto w-full border-t px-4 py-3 md:px-8">
  <div class="mx-auto block max-w-7xl items-center justify-between sm:flex">
    <div class="flex items-center gap-2">
      <p class="text-muted-foreground text-sm">© 2025 IDAH Data Annotation. All rights reserved.</p>
    </div>
  </div>
</footer>
