@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.65rem;
  --background: 1 0 0;
  --foreground: 0.141 0.005 285.823;
  --primary: 0.6441 0.1923 252.27;
  --primary-foreground: 0.97 0.014 254.604;
  --secondary: 0.9288 0.0126 255.51;
  --secondary-foreground: 0.21 0.006 285.885;
  --muted: 0.967 0.001 286.375;
  --muted-foreground: 0.552 0.016 285.938;
  --accent: 0.967 0.001 286.375;
  --accent-foreground: 0.21 0.006 285.885;
  --destructive: 0.577 0.245 27.325;
  --border: 0.92 0.004 286.32;
  --input: 0.92 0.004 286.32;
  --ring: 0.623 0.214 259.815;
  --button: 0.6207 0.1894 259.94;
}

.dark {
  --background: 0.04 0 3.71;
  --foreground: 0.985 0 0;
  --primary: 0.6441 0.1923 252.27;
  --primary-foreground: 0.97 0.014 254.604;
  --secondary: 0.2084 0.0417 266.36;
  --secondary-foreground: 0.985 0 0;
  --muted: 0.274 0.006 286.033;
  --muted-foreground: 0.705 0.015 286.067;
  --accent: 0.41 0.015 286.067;
  --accent-foreground: 0.985 0 0;
  --destructive: 0.704 0.191 22.216;
  --border: 0.5074 0.0123 257.29;
  --input: 1 0 0;
  --ring: 0.488 0.243 264.376;
  --button: 0.6207 0.1894 259.94;
}

@layer base {
    * {
    @apply border-border font-normal text-sm lg:text-base;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-4xl font-extrabold lg:text-5xl;
  }

  h2 {
    @apply text-3xl font-bold lg:text-4xl;
  }

  h3 {
    @apply text-xl font-semibold lg:text-2xl;
  }

  textDescription {
    @apply text-sm text-muted-foreground lg:text-base;
  }

  p {
    @apply text-sm font-normal;
  }
}
