---
import { SidebarMenu, SidebarMenuButton, SidebarMenuItem } from '$lib/components/ui/sidebar';

export interface Props {
  label: string;
  href?: string;
  onClick?: () => void;
}

const { label, href, onClick } = Astro.props;
---

<SidebarMenu>
  <SidebarMenuItem>
    <SidebarMenuButton>
      <a href={href}>{label}</a>
    </SidebarMenuButton>
  </SidebarMenuItem>
</SidebarMenu>
