{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 120,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss", "prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
