<div class="flex h-screen gap-2 w-64 border-r border-border">
  <aside class="flex h-full w-64 flex-col bg-surface/50 p-4">
    <nav class="flex flex-1 flex-col gap-2 overflow-y-auto">
      <slot />
    </nav>
  </aside>
</div>
