      <hr style="border: none; border-top: 1px solid rgba(234, 236, 240, 1);" />

      <div style="color: rgba(97, 97, 97, 1); font-size: 12px; line-height: 18px; padding: 20px;">
        You can go to your settings page to manage your notification preferences
         <a href="<%= [ENV.fetch("IDAH_URL"), "/reset_password?token=#{notification.password_reset_token}"].join("") %>" style="color: #3A81F6;">
      here
    </a>
    <br>
    This is an automated email, please do not reply to this email.
      </div>
    </div>
  </body>
</html>
