---
import { ChevronRightIcon } from "@lucide/astro";
---

<button class="flex-1 flex text-sm border justify-between w-full px-4 py-2 items-center rounded-md hover:bg-accent hover:text-accent-foreground transition-colors duration-200">
  <div class="flex flex-col items-start text-left">
    <span class="text-muted-foreground">Next</span>
    <span class="font-medium">Getting Started with IDAH</span>
  </div>

  <ChevronRightIcon class="size-4 ml-1" />
</button>
