---
import PreviousPageButton from "@components/ui/PageNavigation/PreviousPageButton.astro";
import NextPageButton from "@components/ui/PageNavigation/NextPageButton.astro";
---

<nav
  class="mt-8 flex w-full items-center justify-between border-t border-border pt-6 dark:border-slate-700">
  <PreviousPageButton />
  <NextPageButton />
</nav>