---
import PreviousPageButton from "@components/ui/PageNavigation/PreviousPageButton.astro";
import NextPageButton from "@components/ui/PageNavigation/NextPageButton.astro";
---

<nav
  class="flex flex-col w-full items-center gap-2 pt-6 dark:border-slate-700 md:flex-row">
  <PreviousPageButton />
  <NextPageButton />
</nav>