---
import { ChevronLeftIcon } from "@lucide/astro";
---

<button class="flex-1 hover:text-accent-foreground flex w-full items-center justify-between rounded-md border px-4 py-2 text-sm transition-colors duration-200 hover:bg-accent">
    <ChevronLeftIcon class="mr-1 size-4" />

    <div class="flex flex-col items-end">
      <span class="text-muted-foreground">Previous</span>
      <span class="font-medium">Getting Started with IDAH</span>
    </div>
</button>
