---
import PaginationNextButton from "$lib/app/button/pagination-next-button.svelte";
import PaginationPreviousButton from "$lib/app/button/pagination-previous-button.svelte";
---

<nav class="flex w-full flex-col items-center gap-2 p-2 md:flex-row ">
  <PaginationPreviousButton />
  <PaginationNextButton />
</nav>
