---
import { Sidebar, SidebarContent, SidebarProvider } from "$lib/components/ui/sidebar";
import ApplicationContent from "$lib/app/application/content/application-content.svelte";
import ApplicationSidebar from "$lib/app/application/sidebar/application-sidebar.svelte";

const pathname = Astro.url.pathname;
---

<!-- Desktop sidebar -->
<aside class="bg-background hidden w-64 shrink-0 lg:flex">
  <ApplicationSidebar client:load {pathname} />
</aside>

<!-- Mobile sidebar -->
<aside id="mobile-sidebar" class="bg-background fixed inset-y-0 left-0 z-40 w-full -translate-x-full pt-16 lg:hidden">
  <div class="h-full overflow-y-auto">
    <SidebarProvider>
      <ApplicationContent> Mobile Sidebar </ApplicationContent>
    </SidebarProvider>
  </div>
</aside>

<script>
  const sidebar = document.getElementById("mobile-sidebar");
  const toggle = document.querySelector("[data-sidebar-toggle]");

  toggle?.addEventListener("click", () => {
    sidebar?.classList.toggle("-translate-x-full");
  });
</script>
