---
import { Separator } from "$lib/components/ui/separator";
import Logo from "@components/app/brands/Logo.astro";
import { Button } from "$lib/components/ui/button";
import SidebarToggle from "$lib/app/button/sidebar-toggle.svelte";
import SearchBar from "$lib/app/bar/search-bar.svelte";
---

<header id="header" class="bg-background sticky top-0 z-50 w-full border-b px-4 py-3 shadow-sm md:px-8">
  <div class="relative mx-auto flex items-center">
    <div class="flex items-center gap-4">
      <a href="/">
        <Logo id="header-logo" />
      </a>
      <Separator orientation="vertical" class="h-6" />

      <Button href="#docs" variant="link" class="text-foreground hidden lg:flex"> Docs </Button>
    </div>

    <SearchBar client:load />

    <div class="aling-right ml-auto flex items-center gap-1">
      <Button href="#changelog" variant="link" class="text-foreground hidden lg:flex"> Changelog </Button>

      <Button href="#support" variant="link" class="text-foreground hidden lg:flex"> Support </Button>

      <Button href="#install" class="hidden lg:flex dark:text-white"> Install IDAH </Button>

      <SidebarToggle client:load />

      <!-- <Button id="sidebar-close-header" variant="ghost" size="icon" class="hidden xl:hidden">
        <XIcon class="size-5" />
      </Button> -->
    </div>
  </div>
</header>

<!-- 
<script>
  function toggleSidebar() {
   const openButton = document.getElementById("sidebar-toggle");
    const closeButton = document.getElementById("sidebar-close-header");
    const sidebar = document.getElementById("sidebar");
    const overlay = document.getElementById("sidebar-overlay");

    if (!sidebar || !overlay || !openButton || !closeButton) return;
    let isOpen = false;

    function updateUI() {
      // Sidebar
      sidebar?.classList.toggle("-translate-x-full", !isOpen);

      // Overlay
      overlay?.classList.toggle("hidden", !isOpen);
      overlay?.setAttribute("data-sidebar-open", String(isOpen));

      // Buttons
      openButton?.classList.toggle("hidden", isOpen);
      closeButton?.classList.toggle("hidden", !isOpen);
    }

    function openSidebar() {
      isOpen = true;
      updateUI();
    }

    function closeSidebar() {
      isOpen = false;
      updateUI();
    }

    openButton.addEventListener("click", openSidebar);
    closeButton.addEventListener("click", closeSidebar);
    overlay.addEventListener("click", closeSidebar);
  }

  // Initialize on page load
  toggleSidebar();

  document.addEventListener("astro:after-swap", toggleSidebar);
</script> -->
