---
import Logo from "@components/app/brands/Logo.astro";
import Button from "@components/ui/Button/Button.astro";
---

<header
  id="header"
  class="sticky top-0 z-50 w-full bg-background px-4 py-3 md:px-8 border-b border-border shadow-sm">
  <div class="mx-auto flex max-w-7xl items-center justify-between">
    <a href="/">
      <Logo id="header-logo" />
    </a>

    <div class="flex items-center gap-4">
      <Button
        href="#documentation"
        variant="link"
        className="hidden sm:flex">
        Documentation
      </Button>

      <Button href="#install"> Install IDAH </Button>
    </div>
  </div>
</header>

<style>
  #header {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  }
</style>
