---
import Logo from "@components/app/brands/Logo.astro";
import Button from "@components/ui/Button/Button.astro";
import Input from "@components/ui/Input/Input.astro";
import { SearchIcon, TextAlignJustifyIcon, X, XIcon } from "@lucide/astro";
---

<header id="header" class="sticky top-0 z-50 w-full border-b border-border bg-background px-4 py-3 shadow-sm md:px-8">
  <div class="relative mx-auto flex items-center">

    <div class="flex items-center gap-4">
      <a href="/">
        <Logo id="header-logo" />
      </a>
      <div class="h-6 w-px border-l border-border"></div>
      <Button href="#docs" variant="link" className="hidden xl:flex">
        Docs
      </Button>
    </div>

    <div class="absolute left-1/2 hidden w-full max-w-xl -translate-x-1/2 xl:block">
      <Input placeholder="Search..." className="w-full" />
    </div>

    <div class="aling-right ml-auto flex items-center gap-1">
      <Button href="#changelog" variant="link" className="hidden xl:flex"> Changelog </Button>

      <Button href="#support" variant="link" className="hidden xl:flex"> Support </Button>

      <Button href="#install" className="hidden xl:flex"> Install IDAH </Button>

      <button
        id="mobile-search"
        class="hover:text-accent-foreground inline-flex size-10 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors hover:bg-accent focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 xl:hidden"
      >
        <SearchIcon class="size-4" />
      </button>

      <button
        id="sidebar-toggle"
        class="hover:text-accent-foreground inline-flex size-10 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors hover:bg-accent focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 xl:hidden"
      >
        <TextAlignJustifyIcon class="size-4" />
      </button>

      <button
        id="sidebar-close-header"
        class="hover:text-accent-foreground hidden size-10 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors hover:bg-accent focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 xl:hidden"
      >
        <XIcon class="size-4" />
      </button>
    </div>
  </div>
</header>

<style>
  #header {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  }
</style>

<script>
  function toggleSidebar() {
   const openButton = document.getElementById("sidebar-toggle");
    const closeButton = document.getElementById("sidebar-close-header");
    const sidebar = document.getElementById("sidebar");
    const overlay = document.getElementById("sidebar-overlay");

    if (!sidebar || !overlay || !openButton || !closeButton) return;
    let isOpen = false;

    function updateUI() {
      // Sidebar
      sidebar?.classList.toggle("-translate-x-full", !isOpen);

      // Overlay
      overlay?.classList.toggle("hidden", !isOpen);
      overlay?.setAttribute("data-sidebar-open", String(isOpen));

      // Buttons
      openButton?.classList.toggle("hidden", isOpen);
      closeButton?.classList.toggle("hidden", !isOpen);
    }

    function openSidebar() {
      isOpen = true;
      updateUI();
    }

    function closeSidebar() {
      isOpen = false;
      updateUI();
    }

    openButton.addEventListener("click", openSidebar);
    closeButton.addEventListener("click", closeSidebar);
    overlay.addEventListener("click", closeSidebar);
  }

  // Initialize on page load
  toggleSidebar();

  document.addEventListener("astro:after-swap", toggleSidebar);
</script>
