
<div style="padding: 24px;text-align: center;">

<h1>Your invited to join IDAH</h1>

    <img src="<%= [ENV.fetch("IDAH_URL"), "/assets/images/email-illustration-account_created.png"].join("") %>" style="width: 120px; height: 120px;margin: 0 auto;" />


<p style="font-size: 14px;line-height: 20px;">Hi <%= account.name %>,</p>

  <p style="text-align: center;font-size: 14px;line-height: 20px;margin: 0 100px;">
  Your IDAH account has been successfully created. Please accept the invitation to start working on IDAH.
  </p>

  <div style="background-color:#3A81F6; border-radius: 8px; padding: 10px 14px;width: 150px;margin: 20px auto;">
    <a href="<%= [ENV.fetch("IDAH_URL"), "/reset_password?token=#{notification.password_reset_token}"].join("") %>" style="text-decoration: none; color: #fff; font-size: 14px; font-weight: 600;width: 150px;margin: 0 auto;">
      Accept Invitation
    </a>
  </div>
</div>

